<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kierrata" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kierrätä</name>
    <description>
        Kierrätä -sovellus toimii apuna arjen materiaalikierrätyksessä.
    </description>
    <author email="digikierrata@gmail.com" href="http://kierrata.com">
        Kierrätä -tiimi
    </author>
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <platform name="android">
     <splash src="www/images/splash.png" density="port-ldpi"/>
     <splash src="www/images/splash.png" density="port-mdpi"/>
     <splash src="www/images/splash.png" density="port-hdpi"/>
     <splash src="www/images/splash.png" density="port-xhdpi"/>
    </platform>
    <content src="index.html" />
    <access origin="content:///*" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <icon src="www/images/logo.png" />
    <plugin name="cordova-plugin-geolocation" version="2.1.0" />
    <plugin name="cordova-plugin-network-information" spec="~2.0.1" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="~3.2.1"/>
</widget>
