<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kierrata" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Kierrätä</name>
    <description>
        Kierrätä -sovellus toimii apuna arjen materiaalikierrätyksessä.
    </description>
    <author email="digikierrata@gmail.com" href="http://kierrata.com">
        Kierrätä -tiimi
    </author>
    <platform name="android" />
    <content src="index.html" />
    <access origin="content:///*" />
    <access origin="*" />
    <plugin name="org.apache.cordova.geolocation" spec="0.3.12" source="pgb" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <preference name="orientation" value="portrait" />
    <icon src="www/images/logo.png" />
    <plugin name="cordova-plugin-whitelist" version="1" />
</widget>
