body{
	margin:0;
	padding:0;
}
button:focus{
	outline:none;
}
h1, h2, h3, h4, h5, h6, p, ul{
	font-family:Roboto, sans-serif;
	font-weight:normal;
}
#appbar{
	background-color:#9acd9c;
	width:100vw;
	height:10vh;
}
#sidebar{
	position:absolute;
	top:0px;
	width:74vw;
	display:none;
	text-align:center;
	box-shadow:27vw 0px rgba(0, 0, 0, .60);
}
#sidebartop{
	background:#9acd9c;
	color:white;
	border:1px solid #9acd9c;
	min-height:10vh;
}
#sidebarbottom{
	background:white;
	border:1px solid white;
	min-height:89vh;
}
#infotext{
	text-align:left;
}
#roori{
	width:50%;
	height:50%;
}
#imu{
	margin-top:30px;
	width:50%;
	height:50%;
}
#rode{
	margin-top:30px;
	width:50%;
	height:50%;
}
#sidebartitle{
	text-align:right;
	margin-right:20px;
}
#sidebartitle2{
	text-align:center;
}
#backtomenu{
	margin-top:15px;
	margin-left:20px;
	float:left;
}
.arrow{
	width:7vw;
	height:4vh;
	max-width:25px;
}
.infoarrow{
	padding:10px;
}
#infotext{
	margin-left:20px;
	margin-right:20px;
}
.button{
	border:none;
	background:none;
}
#menuicon{
	margin-top:3px;
	margin-left:3px;
	width:5vw;
	height:4vh;
	min-height:25px;
	min-width:25px;
	max-height:40px;
	max-width:40px;
}
#menubutton:hover{
	background:#94db8a;
	border-radius:10px;
}
.three{
	width:33%;
}
.five{
	width:20%;
}
#title{
	color:white;
	margin:0px;
	padding:0px;
}
.two{
	width:50%;
	text-align:center;
}
.white{
	color:white;
}
#info{
	width:100%;
	display:none;
}
.icon{
	width:40%;
	height:40%;
	margin-top:3px;
	min-height:20px;
	min-width:20px;
	max-height:60px;
	max-width:60px;
}
#mapbutton{
	display:none;
}
.infobutton{
	width:80%;
	padding:10px;
	margin-top:10px;
	border:2px #9acd9c solid;
	background:none;
	color:#9acd9c
}
.infobutton:hover{
	background:#94db8a;
	color:white;
}
#mapid{
	height:90vh;
}
.center{
	text-align:center;
}
.infoscreen{
	display:none;
}
.infoscreen h4{
	margin-right:10px;
}
.back{
	text-align:center;
	width:100%;
	padding:10px;
	margin-top:10px;
	border:2px #9acd9c solid;
	background:none;
	color:#9acd9c
}
.back:hover{
	background:#94db8a;
	color:white;
}
#terms{
	display:none;
	padding:20px;
	width:90%;
	background-color:white;
}