h1, h2, h3, h4, h5, h6, p, ul{
	font-family:Roboto, sans-serif;
	font-weight:lighter;
}
#appbar{
	background-color:#9acd9c;
	height:8vh;
	min-height:50px;
	width:100%;
}
#sidebar{
	position:absolute;
	top:0px;
	width:75vw;
	display:none;
	text-align:center;
	box-shadow:10px 10px 5px grey;
}
#sidebartop{
	background:#9acd9c;
	color:white;
	border:1px solid #9acd9c;
	min-height:20vh;
}
#sidebarbottom{
	background:white;
	border:1px solid white;
	min-height:80vh;
}
#infotext{
	text-align:left;
}
#roori{
	width:50%;
	height:50%;
}
#imu{
	margin-top:30px;
	width:50%;
	height:50%;
}
#rode{
	margin-top:30px;
	width:50%;
	height:50%;
}
#sidebartitle{
	text-align:right;
	margin-right:20px;
	
}
#sidebartitle2{
	text-align:center;
}
#backtomenu{
	margin-top:15px;
	margin-left:20px;
	float:left;
}
.arrow{
	width:35px;
	height:35px;
}
.infoarrow{
	padding:10px;
}
#infotext{
	margin-left:20px;
	margin-right:20px;
}
.button{
	border:none;
	background:none;
}
#menuicon{
	width:5vw;
	max-width:40px;
	height:30px;
	padding:10px;
}
#menubutton:hover{
	background:#94db8a;
	border-radius:10px;
}
.three{
	width:33%;
}
#title{
	text-align:center;
	color:white;
}
#toolbar{
	background-color:#9acd9c;
	height:8vh;
	min-height:50px;
	width:100%;
}
#toolbar button{
	width:100%;
}
#materialbutton{
	background:#94db8a;
}
.two{
	width:50%;
	text-align:center;
}
.white{
	color:white;
}
#info{
	width:100%;
}
.infobutton{
	width:80%;
	padding:10px;
	margin-top:10px;
	border:2px #9acd9c solid;
	background:none;
	color:#9acd9c
}
.infobutton:hover{
	background:#94db8a;
	color:white;
}
#mapid{
	height:78vh;
	display:none;
}
.center{
	text-align:center;
}
.infoscreen{
	display:none;
}
.back{
	text-align:center;
	width:100%;
	padding:10px;
	margin-top:10px;
	border:2px #9acd9c solid;
	background:none;
	color:#9acd9c
}
.back:hover{
	background:#94db8a;
	color:white;
}
button:active{
	border:none;
}

